.about-uzbekistan-home {
  padding: 0 0 20px 0;
  &__open-uzbekistan {
    padding: 20px 0;

    p {
      color: #141619;
    }
  }

  &__bottom {
    padding: 0 0 20px 0;
  }
}

.about-uzbekistan-title {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #065ea9;
}
