@import "../../../../../assets/style/global.scss";

.onlinetest-test {
  background-color: #ffffff;
  border-radius: 15px;

  &-title {
    padding: 20px 30px;
    border-bottom: 1px solid #e6e8ec;

    & > h3 {
      @include fontStyles(700, 24px, 29px, $colorTitle);
    }
  }

  &-wrapper {
    padding: 25px 30px;
  }

  &-list {
    display: grid;
    gap: 30px;

    &-wrapper {
      display: flex;
      gap: 30px;
      align-items: center;
      justify-content: space-between;

      & > img {
        width: 360px;
        height: 230px;
        object-fit: cover;
        border-radius: 12px;
      }
    }

    &-desc {
      margin-bottom: 15px;
      @include fontStyles(600, 20px, 24px, #64748b);
    }

    &-item {
      display: flex;
      align-items: center;
      gap: 15px;

      .MuiButtonBase-root {
        padding: 0;
        color: #065ea9 !important;

        & > input,
        svg {
          width: 30px;
          height: 30px;

          & > path {
            width: 30px;
            height: 30px;
          }
        }
      }

      & > span {
        @include fontStyles(700, 16px, 19px, $colorTitle);
      }
    }
  }

  &-btn {
    &-wrapper {
      margin-top: 35px;
      display: flex;
      align-items: center;

      & > span {
        @include fontStyles(600, 16px, 19px, #64748b);
      }
    }

    &-prev,
    &-next {
      border-radius: 12px;
      cursor: pointer;
      @include fontStyles(700, 14px, 24px, #ffffff);
    }

    &-prev {
      padding: 12px 34px;
      background: #e3f0ff;
      color: $colorTitle;
      border: none;
    }

    &-next {
      margin: 0 30px 0 16px;
      padding: 12px 38px;
      background: #065ea9;
      border: 1px solid #065ea9;
    }
  }
}
