@import "../../../../../../../assets/style/global.scss";

.education-container {
  &-btn {
    margin-top: 20px;
    background: #ffffff;
    border: 1px solid #eaedf6;
    border-radius: 6px;
    width: 100%;
    padding: 14px 0;
    & > img {
    }

    &:hover {
      cursor: pointer;
    }
  }
}
