@import "../../assets/style/global";

.about {

  &_card {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5% !important;

    &_left {
      width: 50%;
      display: flex;
      //align-items: center;
      &_much {
        width: 90%;

        &_img {
          width: 100%;
        }
      }

      &_boss {

        &_level {
          font-weight: 400;
          font-size: 12px;
          line-height: 15px;
          display: flex;
          align-items: center;
          letter-spacing: 0.2px;
          color: $colorGrey;

        }

        &_name {
          font-weight: 700;
          font-size: 24px;
          line-height: 29px;
          color: $colorTitle;
        }
      }

      .sub {
        margin-top: 20%;
      }

    }

    &_right {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .tops {
        width: 50%;
        margin-top: 10%;
        margin-bottom: 5%;
      }

      &_text {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: $colorTitle;
        gap: 20px;

        &_info {
          font-weight: 700;
          font-size: 18px;
          line-height: 22px;
          color: $colorGrey;

        }
      }

      &_title {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.2px;
        color: $colorGrey;
      }

    }
  }

  &_videos {
    margin-top: 50px;
    margin-bottom: -8px;

    &_links {
      width: 100%;
    }
  }

  &_direction {
    &_fon {
      font-weight: 700;
      font-size: 32px;
      line-height: 39px;
      display: flex;
      align-items: center;
      padding-top: 3%;
      color: $colorTitle;
    }


    &_cards {
      margin-top: 5%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      &_information{
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 0.2px;
        color: #5D6B8A;
        margin-bottom: 5%;
      }

      &_boxs {
        width: 45%;
        padding: 15px;
        background: #F0F2F9;
        border-radius: 20px;
        position: relative;
        margin-bottom: 5%;

        &_describtion {
          font-weight: 700;
          font-size: 18px;
          line-height: 22px;
          color: $colorTitle;
          margin-top: 2%;
          margin-bottom: 5%;


        }

        &_img {
          position: absolute;
          right: 0;
          bottom: 0;
        }
      }
    }
  }

  &_fon {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: center;
    padding-top: 3%;
    color: white;
  }

  .increase {
    margin-bottom: 5%;
  }


  &_fatherland {

    padding: 0 16%;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $colorTitle;
  }

  &_caruosel {
    margin-bottom: 5%;
    margin-top: 5%;
  }

  @media only screen and (max-width: 1000px) {

      .cards {
        display: flex;
        flex-direction: column;
      }



    &_card {
      display: block;

      &_left {
        width: 100%;
        display: flex;
        justify-content: space-between;

        &_much {
          width: 100%;
          &_img {
            width: 100%;
          }
        }


        &_boss {
          width: 45%;
          display: flex;
          flex-direction: column;

          &_level {
            margin-top: 5%;
            margin-bottom: 5%;
          }
        }

        &_substitute {
          width: 45%;
          display: flex;
          flex-direction: column;
        }
      }

      &_right {
        width: 100%;

        &_text {
          margin-top: 5%;
        }

        &_title {
          margin-top: 2%;
        }
      }
    }


  }
}