.public-association-events {
    position: relative;
    width: 100%;
    background-color: transparent;
}

// .public-association-events-before {
//     position: absolute;
//     top: 0;
//     left: 0;
//     z-index: 0;
//     width: 100%;
//     height: 740px;
//     background-image: url("../../assets/images/compatriots/publicAssociationEventsBG.png");
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: top center;
//     content: "";
// }


@media(min-width: 1600px) {
    .public-association-events-before {
        background-position: center -80px !important;
    }
}

@media(min-width: 1750px) {
    .public-association-events-before {
        background-position: center -160px !important;
    }
}

@media(min-width: 2000px) {
    .public-association-events-before {
        background-position: center -285px !important;
    }
}

@media(min-width: 2200px) {
    .public-association-events-before {
        background-position: center -390px !important;
    }
}

@media(min-width: 2400px) {
    .public-association-events-before {
        background-position: center -490px !important;
    }
}

@media(min-width: 2900px) {
    .public-association-events-before {
        background-position: center -700px !important;
    }
}

@media(min-width: 3500px) {
    .public-association-events-before {
        background-position: center -950px !important;
    }
}

@media(min-width: 4000px) {
    .public-association-events-before {
        background-position: center -1100px !important; 
    }
}

@media(min-width: 4500px) {
    .public-association-events-before {
        background-position: center -1250px !important;
    }
}


@media(min-width: 5000px) {
    .public-association-events-before {
        background-position: center -1390px !important;
    }
}