@import "../../../../../assets/style/global.scss";

.victorina-popup {
  &-title {
    margin-bottom: 15px;
    @include fontStyles(800, 24px, 29px, $colorTitle);
  }

  &-btnWrapper {
    display: flex;
    justify-content: end;
    gap: 15px;
  }

  &-closeBtn,
  &-SubmitBtn {
    padding: 12px 40px;
    border-radius: 5px;
    @include fontStyles(700, 14px, 24px, #ffffff);
    border: none;
    cursor: pointer;
  }

  &-closeBtn {
    color: $colorTitle;
    background: #ffffff;
    border: 2px solid #f0f2f9;
  }

  &-SubmitBtn {
    background: #065ea9;
  }
}
