@import "../../assets/style/global.scss";

.spinner_box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(6, 42, 73, 0.5);
}

.newsdetail {
  &-tablet-tags {
    display: none;
    margin-bottom: 30px;
  }

  &-wrapper {
    padding: 30px 0 60px;
  }

  &-title {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;

    &-text {
      max-width: 840px;
      @include fontStyles(700, 32px, 39px, #062a49);
    }

    &-url {
      display: flex;
      align-items: center;
      gap: 5px;

      & > a {
        text-decoration: none;
        white-space: nowrap;
        word-break: keep-all;
        @include fontStyles(700, 14px, 17px, $colorGrey);
      }

      & > svg {
        width: 15px;
        height: 15px;
      }

      & > span {
        @include fontStyles(700, 14px, 17px, $colorTitle);
      }
    }
  }

  &-main {
    padding: 30px 0 60px;
    display: flex;
    gap: 30px;

    &-desc {
      width: 70%;

      &-img {
        height: 499px;

        & > img {
          border-radius: 15px;
          width: 100%;
          object-fit: cover;
          height: 100%;
        }
      }

      &-texts {
        padding-top: 20px;
        display: grid;
        gap: 20px;
        border-top: 1px solid #e3e5e9;

        & > p {
          @include fontStyles(400, 16px, 19px, $colorGrey);
          text-align: justify;
          letter-spacing: 0.2px;
        }
      }

      &-action {
        padding: 30px 0;

        &-date-viewers {
          display: flex;
          align-items: center;
          gap: 30px;
        }

        &-date,
        &-viewers {
          display: flex;
          align-items: center;
          gap: 8px;

          & > span {
            @include fontStyles(400, 16px, 19px, $colorGrey);
          }

          & > svg {
            width: 20px;
            height: 20px;
            color: $colorGrey;
          }
        }

        &-tags {
          margin-top: 30px;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          gap: 20px;

          & > span {
            padding: 8px 16px;
            @include fontStyles(400, 16px, 19px, $colorTitle !important);
            background: #e3f0ff;
            border-radius: 5px;
            cursor: pointer;
          }
        }
      }

      &-gallery {
        padding: 20px 0 0;

        &-mainImg {
          width: 100%;
          height: 480px;
          object-fit: cover;
          border-radius: 15px;
        }

        &-list {
          margin-top: 15px;
          max-width: 100%;
          height: 140px;
          display: flex;
          gap: 20px;
          overflow-y: hidden;
          overflow-x: scroll;

          &::-webkit-scrollbar {
            display: none;
          }

          &-item {
            width: 140px;
            height: 100%;
            object-fit: cover;
            border-radius: 15px;
            cursor: pointer;
          }
        }
      }

      &-share {
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid #e3e5e9;
      }
    }

    &-news-tags {
      width: 30%;
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .newsdetail {
    &-desktop-tags {
      display: none;
    }

    &-tablet-tags {
      display: block;
    }

    &-title {
      flex-direction: column-reverse;
      align-items: start;

      &-text {
        color: #161616;
      }

      &-url {
        & > a {
          font-size: 16px;
          line-height: 19px;
          color: $colorTitle;
        }

        & > span {
          font-size: 16px;
          line-height: 19px;
        }
      }
    }

    &-main {
      gap: 60px;
      flex-direction: column;

      &-desc {
        width: 100%;

        &-img {
          height: 408px;
        }
      }

      &-news-tags {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .newsdetail {
    .container {
      padding: 0;
    }

    &-desktop-tags {
      display: block;
    }

    &-tablet-tags {
      display: none;
    }

    &-title {
      padding: 0 20px;

      &-text {
        @include fontStyles(700, 24px, 29px, #062a49);
      }

      &-url {
        & > a,
        span {
          font-size: 12px;
          line-height: 15px;
        }
      }
    }

    &-main {
      gap: 30px;
      flex-direction: column;

      &-desc {
        & > div:not(:first-child) {
          padding-left: 20px;
          padding-right: 20px;
        }

        &-img {
          height: 240px;

          & > img {
            border-radius: 0;
          }
        }

        &-action {
          padding: 15px 0;

          & span {
            @include fontStyles(400, 14px, 17px, $colorGrey);
          }

          &-tags {
            gap: 15px;
            width: 100%;
            flex-wrap: nowrap;
            overflow-x: scroll;
            overflow-y: hidden;

            &::-webkit-scrollbar {
              display: none;
            }

            & > span {
              white-space: nowrap;
              word-break: keep-all;
              padding: 6px 12px;
              color: $colorTitle;
            }
          }
        }

        &-gallery {
          padding: 20px 0 0 !important;

          &-mainImg {
            height: 240px;
            border-radius: 0;
          }

          &-list {
            padding-left: 20px;
            height: 90px;
            gap: 15px;

            &-item {
              width: 90px;
            }
          }
        }

        &-share {
          margin: 0;
          border: none;

          &-list {
            flex-wrap: wrap;
          }
        }
      }

      &-news-tags {
        width: 100%;
        padding: 0 20px;
      }

      &-news {
        display: none;
      }
    }
  }
}
