@import "../../../../../assets/style/global.scss";

.expertofferdetail {
  padding: 30px 0 100px;

  &-pic {
    width: 770px;
    height: 430px;
    border-radius: 10px;
    object-fit: cover;
  }
  .experttitle-title {
    flex-direction: row;
    align-items: flex-start;
  }

  &-actions {
    width: 370px;
    height: 266px;
  }
  &-wrapper {
    display: flex;
  }

  &-main {
    width: 70%;
    display: grid;
    gap: 20px;

    & > p {
      text-align: justify;
      letter-spacing: 0.5px;
      @include fontStyles(500, 16px, 19px, #434b54);
    }
  }
}

@media (max-width: 768px) {
  .expertofferdetail {
    padding: 20px 0 60px;
    .container {
      padding: 0 40px !important;
    }
    &-wrapper {
      flex-direction: column;
      gap: 30px;
    }
    .expertofferdetail-actions {
      height: max-content;
      width: 100%;
    }
    .expertofferdetail-main {
      width: 100%;
      .expertofferdetail-pic {
        width: 100%;
        height: 368px;
      }
    }
    .experttitle-title {
      flex-direction: row;
      align-items: flex-end;
    }
  }
}
@media (max-width: 375px) {
  .expertofferdetail {
    .container {
      padding: 0 16px !important;
    }
    .experttitle-title {
      flex-direction: column-reverse;
      align-items: start;
      gap: 20px;
      &-text {
        font-size: 24px;
        line-height: 29px;
      }
    }
    .expertofferdetail-pic {
      width: 100%;
      height: 230px;
    }
    .expertprofile-info-main-desc > h4 {
      font-size: 18px;
      line-height: 22px;
    }
  }
}
