.new-number {
  padding: 30px 0 60px 0;

  &__inner_title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #065ea9;
  }

  &__inner_list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

@media (max-width: 868px) {
  .new-number {
    padding: 40px 0 60px 0;

    &__inner_title {
      margin-bottom: 50px;
      font-size: 50px;
      line-height: 68px;
    }

    &__inner_list {
      gap: 50px;
    }
  }
}

@media (max-width: 600px) {
  .new-number {
    padding: 20px 0 30px 0;

    &__inner_title {
      margin-bottom: 30px;
      font-size: 28px;
      line-height: 33px;
    }

    &__inner_list {
      gap: 30px;
    }
  }
}
