@import "../../../../../../../assets/style/global.scss";

.materials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;

  &-item {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    background: #ffffff;
    border-radius: 15px;

    &-FileIcon {
      width: 24px;
      height: 24px;
    }

    &-desc {
      margin-left: 23px;
      display: flex;
      flex-direction: column;
      & > p {
        @include fontStyles(600, 16px, 25px, #64748b);
      }

      & > span {
        @include fontStyles(400, 10px, 15px, #64748b);
      }
    }

    &-downloadIcon {
      margin-left: auto;
      width: 22px;
      height: 22px;
      color: #64748b;
    }
  }
}
