@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&display=swap");

$colorGrey: #5d6b8a;
$colorTitle: #065ea9;
$ButtonBackground: #eaedf6;
$colorLight: #ffffff;
$colorText: #12022f;
$colorBlack: #10131b;
$globalBg: url("../../assets/images/body-bg.png");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  list-style: none;
}

body {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #656b70;
}

a {
  text-decoration: none;
}

.victorina-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(2, 12, 21, 0.75);
}

.victorina-popup {
  width: 80%;
  padding: 40px 55px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  gap: 15px;
  background-color: #ffffff;
  border: 1px solid #eaedf6;
  border-radius: 15px;
}

.gray-scale {
  filter: grayscale(100%);
}
a {
  text-decoration: none;
}

.home {
  background-image: $globalBg;
}

.registerBackground {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/register/header-background-image.svg"),
    url("../../assets/images/register/footer-background-image.svg"),
    linear-gradient(131.1deg, #338cda 16%, rgba(88, 172, 244, 0.88) 82.17%);
  background-repeat: no-repeat;
  background-size: 480px 484, 515px 521px, cover;
  background-position: top left, right bottom;
}

.searches {
  background: rgba(255, 255, 255, 0.2) !important;
  backdrop-filter: blur(15px) !important;

  ::placeholder {
    color: white !important;
  }
}

.page-portal {
  height: 100vh;
  background-color: #002630;
  background-image: url("../../assets/images/portal/globe.gif"),
    url("../../assets/images/portal/ellipse.png"),
    url("../../assets/images/portal/ellipse.png"),
    url("../../assets/images/portal/ellipse.png");
  background-repeat: no-repeat;
  background-position: center center, -100px -80px;
  background-size: contain, 376px 376px;
}

.page-about {
  width: 100%;

  background-color: #065ea9;
  background-image: url("../../assets/images/pattern-top.png"),
    url("../../assets/images/bottom.png");

  background-repeat: no-repeat;

  background-position: left top, right bottom;
}

.colors {
  color: white !important;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba($color: #000000, $alpha: 0.3);
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background: rgba($color: #000000, $alpha: 0);
}

.commonInformation-form-btn {
  display: inline-block;
  margin-top: 10px;
  margin-left: auto;
  padding: 8px 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  border-radius: 10px;
  background-color: #065ea9;
  border: 0;
  cursor: pointer;
}

@mixin fontStyles($weight, $size, $line-height, $color) {
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
  color: $color;
}

@media (max-width: 1001px) {
  html {
    font-size: 80%;
  }
  .page-about {
    background-image: url("../../assets/images/pattern-md.png"),
      url("../../assets/images/bottom-md.png");
    background-position: left top, right 190px;
  }
}

@media (max-width: 700px) {
  .page-about {
    background-image: url("../../assets/images/pattern-md.png"),
      url("../../assets/images/bottom-sm.png");
    background-position: -100% -100%, right 190px;
  }
}

@media (max-width: 644px) {
  .page-about {
    background-position: -100% -100%, right 205px;
  }
}

@media (max-width: 576px) {
  .page-about {
    background-position: -100% -100%, right 13%;
  }
}

@media (max-width: 460px) {
  .page-about {
    background-position: -100% -100%, right 14%;
  }
}

@media (max-width: 425px) {
  .page-about {
    background-position: -100% -100%, right 16%;
  }
}

@media (max-width: 365px) {
  .page-about {
    background-position: -100% -100%, right 17%;
  }
}
