@import "../style/global.scss";

.head {
  position: relative;
  z-index: 999;
  height: 168px;
  outline: none;


  .header {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 1rem;
    border-bottom: 2px solid #eaedf6;

    &_navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &>a {
        text-decoration: none;
      }

      &_phone {
        display: flex;
        gap: 10px;

        &_number {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          opacity: 0.8;
          color: $colorGrey;
        }
      }

      &_search {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        // gap: 8px;
        width: 220px;
        height: 40px;

        background: #eaedf6;
        border-radius: 12px;

        &_inputs {
          border: none;
          outline: none;
          width: 160px;
          background: transparent;

          &:active {
            border: none;
          }

          &:focus {
            border: none;
          }
        }

        ::placeholder {
          color: #868ea2;
          opacity: 0.7;
        }

        &_icon {
          cursor: pointer;
        }
      }

      &_flags {
        cursor: pointer;
      }

      &_eye {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px;
        gap: 10px;
        border: none;
        width: 40px;
        height: 40px;
        background: $ButtonBackground;
        border-radius: 12px;
        cursor: pointer;
      }

      &_language {
        position: relative;

        &-wrapper {
          padding: 10px 8px;
          display: flex;
          align-items: center;
          gap: 6px;
          border-radius: 12px;
          background: #065ea9;
          cursor: pointer;

        }

        &-icon {
          width: 20px;
          height: 20px;
          color: #ffff;
        }

        &-iconArrow {
          width: 16px;
          height: 16px;
          color: #ffff;
        }

        &>span {
          display: flex;
          align-items: center;
          @include fontStyles(400, 14px, 17px, #062A49);
        }

        &-bar {
          display: none;
          position: absolute;
          flex-direction: column;
          align-items: center;
          width: 75px;
          right: 0;
          top: 50px;
          border-radius: 12px;
          background: #065ea9;
          z-index: 10;
          color: white;
          overflow: hidden;

          &>p {
            width: 100%;
            text-align: center;
            padding: 5px;
            cursor: pointer;
          }

          &>p:hover {
            background-color: grey;
            color: $colorLight;
          }
        }
      }

      .burger {
        display: none;
        margin: 0 0 0 15px;

        &-closeIcon {
          width: 20px;
          height: 20px;
          color: $colorGrey;
        }
      }
    }

    &-sideBar {
      max-height: 80vh;
      display: none;
      width: 100%;
      position: fixed;
      border-top: 1px solid #f0f2f9;
      top: -300vh;
      left: 0;
      z-index: 10;
      background-color: #ffffff;
      transition: 0.5s all;
      overflow-y: scroll;

      &-wrapper {
        border-top: 1px solid #f0f2f9;
        padding: 20px 1rem 0;
      }

      &-form {
        position: relative;
        height: 48px;
        background-color: $ButtonBackground;
        display: flex;
        align-items: center;
        border-radius: 12px;
        overflow: hidden;

        &-searchIcon {
          position: absolute;
          color: $colorGrey;
          right: 14px;
          width: 24px;
          height: 24px;
          cursor: pointer;
        }

        &>input {
          padding: 0 50px 0 14px;
          width: 100%;
          height: 100%;
          border: none;
          outline: none;
          @include fontStyles(400, 14px, 17px, #868ea2);
          background-color: transparent;
        }
      }

      &-navlinks {
        margin: 30px 0 20px;
        gap: 40px;
      }

      &-navlist {
        padding-bottom: 18px;

        &-item {
          height: 54px;
          overflow: hidden;
          padding: 15px 0;
          list-style-type: none;
          border-bottom: 1px solid #f0f2f9;
          display: flex;
          flex-direction: column;
          transition: all 1s;

          &-title {
            height: 24px;
            display: flex;
            justify-content: space-between;
            text-transform: uppercase;
            @include fontStyles(600, 14px, 17px, #000000);
            cursor: pointer;
            text-decoration: none;
          }

          &-arrowIcon {
            width: 24px;
            height: 24px;
            color: $colorTitle;
            transition: all 0.2s;
          }

          &-links {
            margin-top: 15px;
            display: flex;
            flex-direction: column;
            gap: 15px;
          }

          &-link {
            @include fontStyles(500, 14px, 17px, #161616);
            letter-spacing: 0.2px;
            text-decoration: none;
          }
        }
      }

      &-connection {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 25px;

        &-item {
          display: flex;
          gap: 12px;

          &-icon {
            width: 24px;
            height: 24px;
            color: #000000;
          }

          &>span {
            white-space: nowrap;
            word-break: keep-all;
            @include fontStyles(400, 16px, 26px, #000000);
            mix-blend-mode: normal;
            opacity: 0.8;
          }
        }

        &-action {
          display: flex;
          gap: 23px;

          &-img {
            width: 27px;
            height: 27px;
            object-fit: contain;
            cursor: pointer;
          }
        }
      }

      &-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 2px solid #f0f2f9;

        &>div {
          padding: 20px 0;
        }

        &-socialMedia {
          display: flex;
          gap: 20px;

          &-item {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $colorTitle;
            border-radius: 50%;

            &-icon {
              width: 20px;
              height: 20px;
              color: $colorTitle;
            }
          }
        }

        &-lang {
          display: flex;
          align-items: center;
          gap: 20px;

          &-item {
            @include fontStyles(400, 14px, 17px, #4b5157);
            letter-spacing: 0.2px;
            cursor: pointer;
          }
        }

        .langActive {
          font-weight: 700;
          color: #062a49;
        }
      }
    }

    .activeSideBar {
      top: 88px;
    }
  }
}

.overlay {
  display: none;
  transition: 0.3s all;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100vh;
  z-index: -12;
  background: rgba(6, 42, 73, 0.5);
}

.overlayActive {
  transition: 0.5s all;
  bottom: 0;
}

@media only screen and (max-width: 1000px) {
  .head {
    height: 90px;
    position: sticky;
    top: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    .header {
      padding: 20px 1rem;
      position: relative;
      border: none;
      background-color: white;

      &-sideBar {
        display: block;
      }

      &_navbar {
        justify-content: left;

        &>div {
          display: none;
        }

        &>a:not(:first-child) {
          display: none;
        }

        &>img {
          display: none;
        }

        &_eye {
          margin-left: auto;
        }

        &_search {
          display: none;
        }

        .burger {
          display: flex;
        }
      }
    }
  }

  .overlay {
    display: block;
  }
}

@media screen and (max-width: 574px) {
  .head {
    .overlay {
      display: none;
    }

    .header {
      .activeSideBar {
        bottom: 0;
      }

      &-sideBar {
        &-navlinks {
          padding: 0;
          row-gap: 20px;
          justify-content: flex-start;
        }

        &-navlist {
          padding: 0;
          padding-bottom: 30px;
          gap: 20px;
        }

        &-connection {
          width: 100%;
          flex-direction: column;
          gap: 15px;

          &-action {
            &-img {
              width: 18px;
              height: 18px;
            }
          }
        }

        &-bottom {
          padding: 0;
          display: block;
          border-width: 1px;
          gap: 15px;

          &-lang {
            height: 100%;
            padding: 20px 0;
            border-bottom: 1px solid #f0f2f9;
          }
        }
      }
    }
  }
}