@import "../../../../../../../assets/style/global.scss";

.VoluntaryActivity {
  & > button {
    margin-top: 20px;
    width: 100%;
    padding: 14px 0;
    background: #ffffff;
    border: 1px solid #eaedf6;
    border-radius: 6px;
    &:hover {
      cursor: pointer;
    }
    & > img {
    }
  }

  &-submitBtn {
    width: 114px !important;
    padding: 12px 22px;
  }

  &-checkBoxCont {
    margin-top: 22px;
    display: flex;
    gap: 7px;

    & > input {
      width: min-content;
    }
    & > label {
      @include fontStyles(400, 14px, 17px, #9d9d9d);
    }
  }
  .commonInformation-form-btn {
    display: inline-block;
    width: 90px;
    margin-top: 10px;
    margin-left: auto;
    padding: 8px 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    border-radius: 10px;
    background-color: #065ea9;
    border: 0;
    cursor: pointer;
    &.disabled{
      opacity: .5;
      cursor: not-allowed;
    }
  }
}

.test-cont {
  border: 2px solid black;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  padding: 3px;
  overflow: hidden;
  &-box {
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50px;
  }

  &:hover {
    cursor: pointer;
  }
}
