.symbol {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 3%;

  &_title {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.7px;
    color: #656B70;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: center;
    &_flags{
      font-weight: 400;
      font-size: 16px;
      line-height: 25px;
      letter-spacing: 0.7px;
      color: #656B70;
      margin-top: 5%;
      margin-bottom: 5%;
      text-align: justify;
    }
  }

  &_text {
    width: 50%;

    &_title {
      text-align: justify;
      font-weight: 400;
      font-size: 16px;
      line-height: 25px;
      letter-spacing: 0.2px;
      color: #656B70;
      margin-top: 5%;
      margin-bottom: 5%;
    }

    &_start {
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      color: #062A49;
      margin-top: 5%;
    }

    &_poets {
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      color: #062A49;
    }

    &_post {
      text-align: justify;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      letter-spacing: 0.2px;
      color: #656B70;
      margin-top: 3%;
      margin-bottom: 5%;
    }

    &_audio {
      width: 100%;
      margin-bottom: 5%;
    }

  }

  &_coat {
    display: flex;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #062A49;
    margin-top: 2%;
    //margin-bottom: %;
  }

  @media only screen and (max-width: 1000px) {
    &_text {
      width: 100%;
    }
    .flay {
      width: 100%;
    }
    &_allSym {
      padding: 5%;
      //width: 100%;


    }
    &_coat {
      display: flex;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      color: #062A49;
      margin-top: 5%;
      margin-bottom: 5%;
    }
  }
}