.chat-modal {
  display: none;
  position: absolute;
  width: 332px;
  height: 500px;
  flex-direction: column;
  justify-content: space-between;
  right: 0;
  bottom: 0;
  border-radius: 16px;
  background: #ffffff;

  &.show-chat {
    display: flex;
  }
}

.chat-header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;

  svg {
    &:last-child {
      margin-left: auto;
      cursor: pointer;
    }
  }
}

.chat-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  h3 {
    font-size: 18px;
    margin-top: 10px;
    color: #0c6ec1;
  }

  h4 {
    font-size: 15px;
    color: #1c1c1c;
  }

  p {
    width: 290px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #1c1c1c;
    margin-top: 40px;
  }
}

.chat-footer {
  position: relative;

  input {
    width: 100%;
    padding: 18px 50px 23px 30px;
    border-radius: 0 0 16px 16px;
    border: none;
    border-top: 2px solid #eeeeee;
    outline: none;
  }

  svg {
    position: absolute;
    top: 21px;
    right: 23px;
    cursor: pointer;
  }
}
