.volunter-home {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 50px;
}

@media (max-width: 1160px) {
  .container {
    width: 1020px;
  }
}

@media (max-width: 1020px) {
  .container {
    width: 900px;
  }

  

  .expertnews-page {
    display: flex;
    flex-direction: column;
  }

  .expertnews .main-hero {
    width: 100%;
  }
  .expertnews-right {
    width: 95%;
  }
  .expert .expert-list-item {
    width: 320px;
  }
  .expert-list-item-desc img {
    width: 100%;
  }
}

@media (max-width: 920px) {
  .container {
    width: 800px;
  }
}
