@import "../../../../../assets/style/global.scss";

.passTheTest {
  padding-top: 20px;
  background: #f4f5f7;

  &-active {
    transition: scale 0.5s;
    scale: 1 !important;
  }

  &-navList {
    display: flex;
    gap: 20px;

    &-item {
      padding: 18px 32px;
      background: #ffffff;
      border: 2px solid #e6e8ec;
      border-radius: 16px;
      @include fontStyles(700, 16px, 16px, $colorTitle);
      cursor: pointer;
      transition: all 0.5s;

      &-active {
        color: #ffffff;
        border-color: $colorTitle;
        background-color: $colorTitle;
      }
    }
  }
  &-scaleHidden {
    height: 0;
    opacity: 0;
  }

  &-scaleActive {
    transition: opacity 0.5s;
    opacity: 1;
  }
}
