@import "../../../../assets//style/global.scss";

.singleCardContainer {
  max-width: 1270px;
  margin-inline: auto;
  padding: 50px;
  & > h1 {
    @include fontStyles(600, 32px, 39px, #10131b);
  }

  & > video {
    width: 100%;
    height: 400px;
    margin-top: 30px;
    object-fit: cover;
    border-radius: 10px;
  }

  & > img {
    width: 100%;
    height: 400px;
    margin-top: 30px;
    object-fit: cover;
    border-radius: 10px;
  }
  &-timeOver {
    margin-top: 31px;
    & > p {
    }
  }

  &-timeCont {
    margin-top: 31px;
    display: flex;
    justify-content: space-around;
    &-inner {
      display: flex;
      flex-direction: column;
      & > span {
        text-align: center;
        @include fontStyles(600, 13.2px, 16px, #5c5c5c);
      }
    }
    &-vl {
      width: 1.62px;
      height: 32px;
      background-color: #f0f2f9;
    }
  }

  &-active {
    @include fontStyles(500, 14px, 24px, #ffffff);
    padding: 12px 22px;
    background: #065ea9;
    border-radius: 16px;
    border: none;
    margin-top: 23px;
    width: 100%;
    &:hover {
      cursor: pointer;
    }
  }

  &-ended {
    @include fontStyles(500, 14px, 24px, #5c5c5c);
    width: 100%;
    margin-top: 23px;
    padding: 12px 22px;
    border: 1px solid #5c5c5c;
    border-radius: 16px;
    background: #ffffff;
    &:hover {
      cursor: not-allowed;
    }
  }
  &-calEye {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
    & > div {
      display: flex;
      align-items: center;
      gap: 8px;
      & > span {
        @include fontStyles(Regular, 12px, 20px, $colorGrey);
      }
      & > img {
        width: 20px;
        height: 20px;
      }
    }
  }

  &-hl {
    border: 1px solid #f0f2f9;
    margin-top: 20px;
    width: 100%;
  }

  & > p {
    margin-top: 15px;
  }

  &-socialsCont {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    & > a {
      display: grid;
      place-items: center;
      width: 48px;
      height: 48px;
      background: #deebfc;
      border-radius: 39px;
      & > img {
      }

      &:hover {
        cursor: pointer;
      }
    }
    & > p {
      @include fontStyles(400, 16px, 19px, #161616);
    }
  }
}
