.victorina {
  &-name {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #10131b;
  }
  &-page {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
