.victorina {
  &-name {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #10131b;
  }
  &-page {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &-subname {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2px;
    color: #065ea9;
    margin-bottom: 10px;
  }

  &-img {
    height: 240px;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
  }

  &-list {
    width: 370px;
    height: 510px;
    box-shadow: 0px 2px 40px rgba(69, 69, 69, 0.05);
    border-radius: 15px;
    background: #ffffff;
    border: 1px solid #eaedf6;
    margin: 30px 0;
    cursor: pointer;
  }
  &-lists {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &-item {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.2px;
    color: #5d6b8a;
    margin-bottom: 12px;
  }

  &-items {
    padding: 15px;
  }

  &-link {
    background: #065ea9;
    border-radius: 16px;
    width: 330px;
    height: 48px;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-button {
    background: #f7f8fc;
    border-radius: 5px;
    width: 330px;
    height: 36px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #5c5c5c;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    span {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 10px 0;

      p {
        font-weight: 600;
        font-size: 13.2px;
        line-height: 16px;
        color: #5c5c5c;
        margin: 3px 0;
      }
    }
  }
}
