.my-button {
  display: inline-block;
  margin: 0 auto;
  padding: 12px 22px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  background-color: #065ea9;
  border-radius: 16px;
  outline: 0;
  border: 0;
  cursor: pointer;
}
