@import "../../assets/style/global.scss";

.expertofferdetail {
  padding: 30px 0 100px;
  &-wrapper {
    display: flex;
    gap: 30px;
  }

  &-main {
    width: 70%;
    display: grid;
    gap: 20px;

    & > img {
      width: 100%;
      height: 430px;
      object-fit: cover;
      border-radius: 10px;
    }

    & > p {
      text-align: justify;
      letter-spacing: 0.5px;
      @include fontStyles(500, 16px, 19px, #434b54);
    }
  }
}
