.map-news {
  padding: 40px 0 50px 0;

  &__map-news-text {
    margin-bottom: 30px;
    color: #343434;

    i {
      font-size: 1.2rem;
      font-weight: 600;
      color: #065ea9;
    }

    span {
      font-size: 1.2rem;
      font-weight: 600;
    }
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 400px));
    gap: 30px;
  }
}

@media (max-width: 1150px) {
  .map-news {
    &__body {
      grid-template-columns: repeat(3, minmax(250px, 400px));
    }
  }
}

@media (max-width: 840px) {
  .map-news {
    &__body {
      grid-template-columns: repeat(2, minmax(200px, 400px));
    }
  }
}

@media (max-width: 500px) {
  .map-news {
    &__body {
      grid-template-columns: repeat(1, minmax(250px, 400px));
      justify-content: center;
    }
  }
}
