.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root, .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root, .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root, .css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root {
    border-radius: 8px !important;
}

.register__wrapper {
    display: flex;
    flex-direction: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 52px auto;
}

.left__side__text {
    width: 471px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    h1 {
        font-weight: 600;
        font-size: 46px;
        line-height: 54px;
        color: #FFFFFF;
    }
    p {
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: -0.015em;
        color: rgba(255, 255, 255, 0.65);
    }
}

.registration__form {
    position: relative;
    width: 644px;
    height: 634px;
    display: flex;
    flex-direction: column;
    padding: 45px 60px;
    padding-bottom: 0;
    background: #FFFFFF;
    border-radius: 20px;
    z-index: 10;
}

.form {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    justify-content: space-between;
}

.form__right {
    display: flex;
    padding-top: 44px;
    margin-right: -15px;
    flex-direction: column;
    width: 412px;
    height: 468px;
    overflow-y: scroll;
    overflow-x: hidden;
    gap: 35px;

    &::-webkit-scrollbar-track {
        background-color: #93C5FD;
        border-width: 1px;
        border-radius: 0;
        border-left: 4px solid transparent;
        background-clip: content-box;
    }

    &::-webkit-scrollbar-thumb {
        background: linear-gradient(131.1deg, #338CDA 16%, rgba(88, 172, 244, 0.88) 82.17%);
        border-radius: 0;
        border-left: 3px solid transparent;
        border-top: 37px solid transparent;
        border-bottom: 60px solid transparent;
        background-clip: content-box;
        height: 40px;
    }
}

.form__title {
    width: 506px;
    height: 80px;
    border-bottom: solid 2px rgba(6, 94, 169, 0.5);
    line-height: 20px;

    h2 {
        font-size: 22px;
        line-height: 27px;
        color: #065EA9;
        margin-bottom: 6px;
    }
}

.profile__photo {
    margin-top: 44px;
    position: relative;
    width: 96px;
    height: 96px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;

    &:hover .upload__photo {
        display: flex;
    }
}

.profile__img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
    img {
        object-fit: cover;
    }
}

.width100 {
    height: 96px;
}

.upload__photo {
    position: absolute;
    width: 100%;
    height: 32px;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
}

.input__fields {
    width: 380px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
}

.input__file {
    display: none;
}

.position__relative {
    position: relative;
}

.required__star {
    position: absolute;
    right: 6px;
    top: 6px;
}

.termsCheck {
    display: flex;
    gap: 9px;
    margin-top: 10px;
    font-size: 17px;

    span {
        color: #065EA9;
        text-decoration: underline;
        cursor: pointer;
    }
}

.checkbox {
    margin-top: 6px;
    cursor: pointer;
}

.checked {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #065EA9;
}

.unchechecked {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(93, 107, 138, 0.5);
}

.submit {
    align-self: flex-end;
    background: #065EA9;
    border-radius: 32px;
    padding: 16px 103px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    border: none;
    letter-spacing: -0.0075em;
    color: #FFFFFF;
    cursor: pointer;
}

@media (max-width: 992px) {
    .register__wrapper {
        flex-direction: column;
        row-gap: 30px;
    }

    .left__side__text {
        width: 95%;
    }

}

@media (max-width: 768px) {
    .registration__form {
        width: 95%;
        height: max-content;
        padding: 30px;
    }

    .form {
        flex-direction: column;
        gap: 50px;
        font-size: 14px;
        align-items: center;
    }

    .form__right {
        width: 90%;
        gap: 20px;
    }

    .input__fields {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        row-gap: 20px;
    }
}

@media (max-width: 480px) {
    .registration__form {
        width: 100%;
        padding: 30px;
    }

    .form {
        flex-direction: column;
        gap: 50px;
        font-size: 14px;
        align-items: center;
    }

    .form__right {
        width: 95%;
        gap: 20px;
    }

    .input__fields {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        row-gap: 20px;
    }
    .submit {
        align-self: center;
    }
}



