.council-hero {
    padding: 63px 0 30px 0;
    // background: #065EA9;

    &__title {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        color: #FFFFFF;
    }

    &__desc {
        width: 100%;
        max-width: 768px;
        margin-bottom: 30px;
        line-height: 17px;
        letter-spacing: 0.2px;
        color: #FFFFFF;
    }

    &__breadcrumb_nav {
        display: flex;
        justify-content: flex-end;
    }

    &__breadcrumb {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    &__breadcrumb_item {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    &__breadcrumb_link {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 0.2px;
        color: #ffffff;
        text-decoration: none;
    }

    .breadcrumb_item_active {
        line-height: 17px;
        letter-spacing: 0.2px;
        color: #ffffff;
        opacity: 0.6;
    }
}