@import "./src/assets/style/global";
.table {
  display: flex;
  align-items: center;
  margin-top: 15px;
  overflow: hidden;
  &_control {
    width: 20%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &_all {
      width: 100%;
      height: 70px;

      padding: 25px 6px;
      flex-direction: row;
      gap: 10px;
      border: 1px solid #eaedf6;
      border-radius: 8px;
      font-size: 14px;
      line-height: 17px;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: center;
      background: white;
      color: $colorTitle;
      text-align: center;
      letter-spacing: 0.2px;
    }
  }
  .increase {
    margin-bottom: 10px;
    &-img {
      height: 340px;
      width: 40px;
    }
  }
  &_next {
    margin-top: 3%;
  }
  @media only screen and (max-width: 1000px) {
    overflow-y: scroll;
    &_control {
      width: 100%;
      &_all {
        width: 100%;
        padding: 25px 30px;
      }
    }
  }
}
