.MuiOutlinedInput-notchedOutline {
  border-color: #eaedf6 !important;
}

.all__books__search {
  margin: 0 25px;
  display: flex;
  flex-flow: column;
  row-gap: 20px;

  h2 {
    font-size: 28px;
    line-height: 44px;
    color: #065ea9;
  }
}

.all__books__row {
  display: flex;
  justify-content: space-between;
}

.all__books__search__input {
  display: flex;
  gap: 20px;
}

.all__books__filter {
  display: flex;
  gap: 20px;
}

.all__books__sort {
  ul {
    display: flex;
    font-size: 16px;
    line-height: 24px;
    color: #9d9d9d;

    li {
      padding: 10px 16px;
      border-top: solid 2px transparent;
      border-bottom: solid 2px #e7e9ee;
      cursor: pointer;
    }

    .active {
      color: #065ea9;
      border-bottom-color: #065ea9;
    }
  }
}

.grey__bg {
  background-color: #f4f5f7;
}

.all__books__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 25px;
}

.online-teaching-header {
  box-shadow: none;
}

@media (max-width: 900px) {
  .all__books__row {
    flex-direction: column;
    gap: 20px;
  }

  .all__books__grid {
    justify-content: space-around;
  }
}

@media (max-width: 768px) {
  .all__books__search__input {
    flex-direction: column;
  }

  .MuiPaper-root {
    width: auto !important;
  }

  .MuiFormControl-root {
    width: 100%;
    min-width: auto;
  }
}

@media (max-width: 768px) {
  .all__books__filter {
    flex-direction: column;
  }
}
