@import "../../../../../../../assets/style/global.scss";

.registeritem2 {
  &-form {
    &-otm {
      display: grid;
      gap: 10px;

      &:not(:first-child) {
        margin-top: 10px;
      }
    }
  }

  &-addForm__title {
    font-size: 18px;
  }
}
