.personal {
  width: 100%;
  max-width: 100%;
  background-color: #fff;
  border-radius: 12px 12px 0px 0px;

  &__img-box {
    width: 100%;
    min-height: 320px;
  }

  &__img {
    width: 100%;
    height: 320px;
    object-fit: contain;
    border-radius: 12px 12px 0px 0px;
  }

  &__body {
    padding: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #656B70;
  }

  &__title {
    font-size: 18px;
    line-height: 22px;
    color: #065EA9;
  }

  &__title--span {
    display: block;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #656B70;
  }

  &__list {
    padding-top: 15px;
  }

  &__item + &__item {
    margin-top: 19.5px;

    &_flexss{
      display: flex;
      align-items: center;
      color: #656B70;

    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
    &_flexss{
      display: flex;
      align-items: center;
      gap: 10px;
      color: #656B70;

    }
  }
}


@media (max-width:992px) {
  .personal {
    &__img-box {
      min-height: 280px;
    }

    &__img {
      height: 280px;
    }

  }
}

@media (max-width:992px) {
  .personal {
    &__img-box {
      min-height: 320px;
    }

    &__img {
      height: 320px;
    }

  }
}

@media (max-width:768px) {
  .personal {
    &__img-box {
      min-height: 280px;
    }

    &__img {
      height: 280px;
    }

  }
}

@media (max-width:575px) {
  .personal {
    &__img-box {
      min-height: 320px;
    }

    &__img {
      height: 320px;
    }

  }
}

@media (max-width:330px) {
  .personal {
    &__img-box {
      min-height: 280px;
    }

    &__img {
      height: 280px;
    }

  }
}