@import "../../../../../../assets/style/global.scss";

.registeritem {
  &-title {
    margin-bottom: 30px;
    @include fontStyles(600, 20px, 24px, $colorBlack);
  }

  &-form {
    display: grid;
    gap: 20px;
  }

  &-flexbox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  &-borderLeft {
    padding-left: 30px;
    border-left: 1px solid #eaedf6;
  }

  &-btnWrapper {
    margin-top: 30px;
    display: flex;
    justify-content: end;
  }

  &-submitBtn {
    padding: 12px 22px;
    background: #065ea9;
    border-radius: 16px;
    border: none;
    @include fontStyles(500, 14px, 24px, #ffffff);
    cursor: pointer;
  }

  &-imgInput {
    height: 140px;
    background: #e2f6ff;
    border: 1px dashed #9d9d9d;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    cursor: pointer;

    & > svg {
      width: 36px;
      height: 36px;
      color: #065ea9;
    }
    & > p {
      white-space: nowrap;
      word-break: keep-all;
      @include fontStyles(400, 14px, 17px, #000000);
    }
  }

  &-label {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &-delete {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-single {
        display: flex;
        justify-content: end;
      }

      & > svg,
      &-single > svg {
        width: 20px;
        height: 20px;
        color: #eb5757;
        cursor: pointer;
      }

      & > p,
      span {
        white-space: nowrap;
        word-break: keep-all;
        @include fontStyles(400, 14px, 17px, #000000 !important);
      }

      & > strong {
        white-space: nowrap;
        word-break: keep-all;
        @include fontStyles(600, 16px, 24px, #1e202c);
      }
    }

    &-fileinput {
      display: none;
    }

    &-textarea {
      width: 100%;
      min-height: 112px;

      & > textarea {
        width: 100%;
        height: 100%;
        border: none;
        resize: none;
        outline: none;
      }
    }

    & > p {
      white-space: nowrap;
      word-break: keep-all;
      @include fontStyles(400, 14px, 17px, #000000);

      & > span {
        color: #ff5656;
      }
    }

    & > div,
    label {
      height: 48px;
      padding: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #ffffff;
      border: 1px solid #eaedf6;
      border-radius: 6px;
      cursor: pointer;

      & > input {
        width: 100%;
        height: 100%;
        outline: none;
        border: none;
        @include fontStyles(400, 16px, 19px, #10131b);

        &::placeholder {
          @include fontStyles(400, 16px, 19px, #9d9d9d);
        }
      }

      & > img {
        width: 24px;
        height: 24px;
        object-fit: cover;
      }
    }
  }

  &-addForm {
    height: 48px;
    width: 100%;
    background: #ffffff;
    border: 1px solid #eaedf6;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    & > svg {
      width: 24px;
      height: 24px;
      color: #065ea9;
    }
  }

  &-select {
    width: 100%;
    height: 48px;
    border-color: #eaedf6;
    outline: none;
  }

  &-checkbox {
    display: flex;
    align-items: center;
    gap: 10px;

    & > p {
      @include fontStyles(500, 16px, 16px, #040f18);
    }
  }

  &-interest-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    & > li {
      padding: 8px 12px;
      background: #e3f0ff;
      border-radius: 5px;
      letter-spacing: 0.2px;
      @include fontStyles(400, 12px, 16px, #065ea9);
    }
  }

  &-scaleHidden {
    height: 0;
    overflow: hidden;
    transform: scaleY(0);
  }

  &-scaleActive {
    transform-origin: top;
    transform: scaleY(1);
    transition: transform 0.5s ease;
  }

  &-imageList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;

    &-inputFile {
      width: 60px;
      height: 60px;
      background: #e3f0ff;
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      & > svg {
        width: 20px;
        height: 20px;
        color: $colorTitle;
      }
    }

    &-item {
      position: relative;
      padding: 6px;
      height: 130px;
      width: 130px;
      background: #f0f2f9;
      border-radius: 12px;

      &-remove {
        position: absolute;
        padding: 7px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: inline-flex;
        align-items: center;
        gap: 4px;
        background: #f8fafc;
        box-shadow: 0px 4px 70px rgba(148, 163, 184, 0.4);
        border-radius: 4px;
        cursor: pointer;

        & > span {
          @include fontStyles(400, 12px, 15px, #bd3232);
        }

        & > svg {
          width: 12px;
          height: 12px;
          color: #bd3232;
        }
      }

      & > img {
        width: 118px;
        height: 118px;
        object-fit: cover;
        border-radius: 12px;
      }
    }
  }
}
