@import "../../../../../assets/style/global.scss";
.expert-header {
  background-color: #fff;
  background-image: url("../../../../../assets//images/body-bg.png");
}

.expert-header-cabinet {
  position: relative;

  &-bar {
    width: 120px;
    padding: 6px;
    position: absolute;
    top: 50px;
    left: 20px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
    border-radius: 8px;

    &-cabinet,
    &-logout {
      padding: 8px 6px;
      display: flex;
      align-items: center;
      gap: 6px;
      cursor: pointer;

      & > span {
        @include fontStyles(500, 12px, 15px, #4b5157);
      }

      & > svg {
        width: 20px;
        height: 20px;
        color: #065ea9;
      }
    }

    &-logout {
      & > svg,
      & > span {
        color: #cc2727;
      }
    }
  }
}

.navbarpage {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eaedf6;
    padding: 10px 0;
  }

  .navbar-list {
    display: flex;
    align-items: center;
  }
  .navbar-button {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 12px;
    padding: 8px 14px;
    border: none;
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    cursor: pointer;
    margin: 0 20px;
  }
  img {
    margin-right: 5px;
  }
  .navbar-link {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;

    svg {
      margin: 0 7px;
      path {
        fill: #fff;
      }
    }
  }
  .navbar-item {
    margin: 0 20px;
  }
  .navbar--name {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    width: 150px;
  }
  .navbar--subname {
    color: #065ea9;
    width: 150px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }

  .navbar--link {
    color: #5d6b8a;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    svg {
      margin: 0 7px;
      path {
        fill: #5d6b8a;
      }
    }
  }
  .navbar--button {
    background: #eaedf6;
    border-radius: 12px;
    width: 120px;
    height: 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #eaedf6;
    color: #5d6b8a;
    cursor: pointer;

    svg {
      path {
        fill: #5d6b8a;
      }
    }
  }
  &_language {
    position: relative;

    &-wrapper {
      padding: 7px 8px;
      display: flex;
      align-items: center;
      gap: 6px;
      border-radius: 12px;
      cursor: pointer;
    }

    &-icon {
      width: 20px;
      height: 20px;
      color: #ffff;
    }

    &-iconArrow {
      width: 16px;
      height: 16px;
      color: #ffff;
    }

    & > span {
      display: flex;
      align-items: center;
    }

    &-bar {
      display: none;
      position: absolute;
      flex-direction: column;
      align-items: center;
      width: 75px;
      right: 0;
      top: 50px;
      border-radius: 12px;
      z-index: 10;
      color: white;
      overflow: hidden;

      & > p {
        width: 100%;
        text-align: center;
        padding: 5px;
        cursor: pointer;
      }

      & > p:hover {
        background-color: grey;
      }
    }
  }

  &-notification {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    margin: 0 6px;
    cursor: pointer;
  }

  &--notification {
    background: #eaedf6;
    border-radius: 12px;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    margin: 0 6px;
    cursor: pointer;

    svg {
      path {
        fill: #5d6b8a;
      }
    }
  }

  &-icon {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 0 6px;
  }

  &--icon {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 0 6px;

    svg {
      path {
        fill: #5d6b8a;
      }
    }
  }
}
