@import "../../assets/style/global.scss";

.expertoffer {
  padding: 30px 0 100px;

  &-list {
    display: grid;
    gap: 30px;

    &-item {
      padding: 30px;
      display: flex;
      gap: 20px;
      background: #f6f7fb;
      border-radius: 20px;

      & > img {
        width: 396px;
        height: 308px;
        object-fit: cover;
        border-radius: 10px;
      }

      &-desc {
        & > p {
          margin-top: 20px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 6;
          -webkit-box-orient: vertical;
          letter-spacing: 0.5px;
          @include fontStyles(500, 16px, 19px, #434b54);
        }

        &-button {
          margin-top: 32px;
          display: flex;
          justify-content: end;

          & > button {
            border: none;
            cursor: pointer;

            & > a {
              padding: 12px 22px;
              background: #065ea9;
              border-radius: 5px;
              @include fontStyles(500, 14px, 24px, #ffffff);
            }
          }
        }
      }
    }

    &-morebtn {
      display: flex;
      justify-content: center;

      & > button {
        padding: 12px 22px;
        display: flex;
        align-items: center;
        gap: 10px;
        background: #e3f0ff;
        border-radius: 16px;
        border: none;
        cursor: pointer;

        & > span {
          @include fontStyles(500, 14px, 24px, $colorTitle);
        }

        & > svg {
          width: 20px;
          height: 20px;
          color: $colorTitle;
        }
      }
    }
  }
}
