.news-page {
  background-image: url("../../assets/images/body-bg.png");

  .main {
    margin-bottom: 30px;
    &-content {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(3 1fr);
      margin-top: 30px;
      gap: 20px;

      &-slider {
        grid-column: span 8;
        grid-row: span 1;
      }

      &-cards {
        grid-column: span 8;
        grid-row: span 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 20px;
      }

      &-card {
        max-width: 260px;
        width: 100%;
      }

      &-right {
        grid-column: span 4;
        grid-row: span 3;
        display: flex;
        flex-direction: column;
        row-gap: 30px;
      }
    }
    &-popular-tags {
      display: none;
      margin-top: 30px;
    }
  }

  @media (max-width: 1235px) {
    .main {
      &-content {
        &-cards {
          justify-content: space-between;
        }
      }
    }
  }

  @media (max-width: 1000px) {
    .main {
      margin-top: 30px;
    }
  }

  @media (max-width: 830px) {
    .main {
      &-content {
        &-slider,
        &-right,
        &-cards {
          grid-column: span 12;
        }
        &-card {
          max-width: 334px;
          width: 100%;
        }
      }
    }
  }

  @media (max-width: 708px) {
    .main {
      &-content {
        &-cards {
          justify-content: center;
        }
        &-card {
          max-width: 450px;
          width: 100%;
        }
        &-right {
          flex-direction: column-reverse;
          div:nth-child(3) {
            display: none;
          }
        }
      }
      &-popular-tags {
        display: block;
      }
    }
  }
}
