.news-page {
  background-image: url("../../assets/images/body-bg.png");

  .main {
    &-content {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;

      &-left {
        max-width: 820px;
        width: 100%;

        &-cards {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          row-gap: 30px;

          .main-content-left-card {
            max-width: 260px;
          }
        }
      }

      &-right {
        max-width: 400px;
        width: 100%;

        .latest_news {
          margin-bottom: 30px;
        }
      }
    }
  }
}
