.single-intro-section {
    padding: 60px 0;
    // background-color: #fff;
    background-image: url("../../../../assets/images/body-bg.png");

    &__title {
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        color: #065EA9;
    }

    &__project_list {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 30px;
    }

    &__compatriots_list {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 40px;
        row-gap: 30px;

        .img-container {
            height: 300px;
        }
    }
}

@media (max-width:1200px) {
    .single-intro-section {
        &__compatriots_list,
        &__project_list {
            .img-container {
                height: 240px;
            }
        }
    }
}

@media (max-width:1200px) {
    .single-intro-section {
        &__project_list {

            .img-container {
                height: 240px;
            }
        }
    
        &__compatriots_list {
            column-gap: 30px;

            .img-container {
                height: 240px;
            }
        }
    }
}

@media (max-width:900px) {
    .single-intro-section {
        &__compatriots_list,
        &__project_list {
            grid-template-columns: repeat(2,1fr);
            column-gap: 50px;
            row-gap: 30px;

            .img-container {
                height: 240px;
            }
        }
    }
}

@media (max-width:768px) {
    .single-intro-section {
        &__compatriots_list,
        &__project_list {
            column-gap: 20px;

            .img-container {
                height: 240px;
            }
        }
    }
}

@media (max-width:660px) {
    .single-intro-section {
        &__compatriots_list,
        &__project_list {

            .img-container {
                height: 218px;
            }
        }
    }
}

@media (max-width:580px) {
    .single-intro-section {
        padding: 30px 0;

        &__title {
            margin-bottom: 21px;
            font-size: 24px;
            line-height: 29px;
        }
    
        &__compatriots_list,
        &__project_list {
            grid-template-columns: repeat(1,1fr);
            column-gap: 0px;
            row-gap: 21px;
            padding: 0 50px;

            .img-container {
                height: 300px;
            }
        }
    }
}

@media (max-width:500px) {
    .single-intro-section {    
        &__compatriots_list,
        &__project_list {
            padding: 0 0px;

            .img-container {
                height: 280px;
            }
        }
    }
}

@media (max-width:400px) {
    .single-intro-section {
        &__compatriots_list,
        &__project_list {

            .img-container {
                height: 210px;
            }
        }
    }
}
