@import "../../../../../../../assets/style/global.scss";
.organization-card {
  // max-width: 240px;
  background: #f6f7fb;
  border: 1px solid #eaedf6;
  border-radius: 10px;
  padding: 15px 12px;

  &_cardTop {
    display: flex;
    column-gap: 12px;
    height: 30px;
    align-items: center;
    justify-content: flex-start;

    & > img {
      width: 24px;
      height: 24px;
      border-radius: 50%;
    }
    & > span {
      @include fontStyles(700, 0.875em, 140%, $colorTitle);
    }
  }

  &_hl {
    height: 1px;
    width: 100%;
    background: #eaedf6;
    margin-top: 15px;
  }
  &_text {
    height: 54px;
    overflow: hidden;
    @include fontStyles(400, 0.875em, 130%, #4b5157);
    margin-top: 15px;
    text-align: center;
  }
  & > img {
    display: block;
    margin: 0 auto;
    margin-top: 8px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid red;
  }

  &_bottomText {
    margin-top: 12px;
    @include fontStyles(400, 0.875em, 130%, #4b5157);
  }

  & > button {
    margin-top: 12px;
    @include fontStyles(500, 0.875em, 125%, $colorTitle);
    padding: 12.5px 0;
    width: 100%;
    border: 1px solid #eaedf6;
    border-radius: 12px;
    background: rgba(6, 94, 169, 0.1);
  }
  & > button:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .organization-card {
    &_text {
      height: 100px;
    }
  }
}

@media screen and (max-width: 568px) {
  .organization-card {
    &_text {
      height: auto;
    }
  }
}
