@import "../../../../../assets/style/global.scss";

.experttitle {
  &-title {
    padding-bottom: 30px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    flex-wrap: wrap-reverse;

    &-text {
      width: 80%;
      @include fontStyles(600, 32px, 39px, $colorBlack);
    }

    &-url {
      display: flex;
      align-items: center;

      & > a {
        display: flex;
        align-items: center;
        letter-spacing: 0.2px;
        @include fontStyles(700, 14px, 17px, $colorGrey);

        & > svg {
          width: 15px;
          height: 15px;
        }
      }

      & > a:last-child {
        color: $colorTitle;

        & > svg {
          display: none;
        }
      }
    }
  }
}
