@import "../../../../../../../assets/style/global.scss";

.scientificActivity-cont {
}

.commonInformation-form-btn {
  display: inline-block;
  margin-top: 10px;
  margin-left: auto;
  padding: 8px 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  border-radius: 10px;
  background-color: #065ea9;
  border: 0;
  cursor: pointer;
}
