@import "../../../../../assets/style/global.scss";

.volunteractivity {
  padding-bottom: 80px;
  &-cardlist {
    display: flex;
    flex-wrap: wrap;

    &-title {
      margin: 100px 0 30px;
      @include fontStyles(700, 32px, 39px, $colorTitle);
    }
  }
}
