@import "../../../../../../../assets/style/global.scss";

.certificate {
  padding: 30px 54px;
  display: flex;
  align-items: center;
  gap: 75px;
  background: #ffffff;
  border-radius: 30px;

  & > img {
    margin-left: 45px;
    width: 310px;
    height: 100%;
    object-fit: cover;
  }

  &-desc {
    display: grid;
    gap: 30px;
    & > h3 {
      @include fontStyles(700, 32px, 39px, #141619);
    }

    & > p {
      @include fontStyles(400, 16px, 134%, #141619);
    }

    & > a {
      display: flex;
      align-items: center;
      gap: 15px;

      & > span {
        @include fontStyles(600, 16px, 19px, $colorTitle);
      }

      & > div {
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #e3f0ff;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 50%;

        & > svg {
          width: 20px;
          height: 20px;
          color: #065ea9;
        }
      }
    }
  }
}
