.cabinet-notification {
  &__title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #1a1f36;
  }

  .MuiButtonBase-root {
    padding: 16px 16px 16px 16px;
  }
}
