@import "../../../../assets/style/global.scss";

.registeritem2 {
  &-form {
    &-otm {

      &:not(:first-child) {
        margin-top: 20px;
      }

      &-faculty {
        margin-top: 20px;
        display: flex;
        gap: 20px;
      }
    }
  }
}