.peaceful {
    overflow: hidden;
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 61px;
        margin-bottom: 25px;
    }

    &__header_end {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__header_btn {
        padding: 11px 22px;
        background: rgba(6, 94, 169, 0.1);
        border: 1px solid #EAEDF6;
        border-radius: 15px;
        cursor: pointer;
    }

    &__slider {
        justify-content: space-between !important;
    }

    &__slider-item {
        width: 265px;
        height: 355px ;
    }

    &__slider_card {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: end;
        width: 100%;
        height: 355px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-color: #2C1515;
        box-shadow: 0px 2px 40px rgba(69, 69, 69, 0.05);
        border-radius: 12px;
    }

    &__slider_card::after {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
        width: 100%;
        height: 220px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 91.3%);
        content: "";
    }

    &__slider_card--body {
        padding-bottom: 20px;
        padding-left: 14px;
        padding-bottom: 20px;
        border-bottom: 1px solid #fff;
    }

    &__slider_card--link {
        display: inline-block;
        margin-bottom: 6px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 125%;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        text-decoration: none;
    }

    &__slider_card--text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 125%;
        letter-spacing: 0.2px;
        color: #FFFFFF;
    }

    &__slider__card--footer {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px 20px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: #FFFFFF;
    }

    &__slider--controls {
        display: flex;
        gap: 20px;
    }
}

@media (max-width:1024px) {
    .peaceful {
        padding: 50px 0 30px 0;

        &__slider {
            justify-content: space-between !important;
        }

        &__slider-item {
            width: 334px ;
            height: 447px ;
        }

        &__slider_card {
            width: 100%   ;
            height: 447px;
        }
    }

}

@media (max-width:768px) {

    .peaceful {
        padding: 0px 0 0px 0;

        &__slider {
            justify-content: space-between !important;
        }

        &__slider-item {
            width: 334px ;
            height: 447px ;
        }

        &__slider_card {
            width: 100% !important;
            height: 447px;
        }
    }

    .peaceful__slider--controls {
        display: none;
    }
}



@media (max-width:550px) {

    .peaceful {
        &__slider-item {
            width: 380px ;
            height: 450px ;
        }

        &__slider_card {
            width: 400px !important;
            max-width: 100% !important;
            height: 450px;
        }
    }
}



@media (max-width:350px) {

    .peaceful {
        &__slider-item {
            width: 100% !important;
            height: 415px ;
        }

        &__slider_card {
            width: 100% !important;
            max-width: 100% !important;
            height: 415px;
        }
    }
}