.chat {
  height: 100%;
  padding: 30px 50px;

  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba($color: #000000, $alpha: 0.15);
  }

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
  }

  &__left {
    width: 35%;
  }

  &__buttons {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;

    &.active {
      color: #fff;
      border: 2px solid #065ea9;
      background: #065ea9;
    }
  }

  &__chats,
  &__groups {
    padding: 12px 22px;
    color: #065ea9;
    font-weight: 700;
    font-size: 14px;
    border-radius: 16px;
    border: 2px solid #eaedf6;
    cursor: pointer;

    &.active {
      color: #fff;
      border-color: #065ea9;
      background: #065ea9;
    }
  }

  &__users {
    height: calc(100vh - 220px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 5px;
    overflow-y: auto;
  }

  &__one-user {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 10px 14px;
    border-radius: 16px;
    border: 2px solid #eaedf6;
    cursor: pointer;

    &.active {
      border: 2px solid #065ea9;
    }
  }

  &__user-image,
  &__picture {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-weight: 400;
    font-size: 20px;
    color: #065ea9;
    border-radius: 50%;
    background: #aedaff;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &__online {
    width: 12px;
    height: 12px;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background: #065ea9;
    border: 2px solid #fff;
  }

  &__user-information {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h4 {
      width: 150px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 600;
      font-size: 14px;
      color: #000;
    }

    p {
      font-weight: 400;
      font-size: 12px;
      color: #a2a2a2;
    }
  }

  &__has-message {
    height: 23px;
    display: flex;
    justify-content: center;
    padding: 0 8px;
    margin-left: auto;
    font-size: 12px;
    border-radius: 25px;
    color: #065ea9;
    background: #aedaff;
  }

  &__right {
    width: 65%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid #e1e2ff;
  }

  &__messages-header {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 0 30px;
    border-bottom: 1px solid #dfe0eb;
  }

  &__name-status {
    h4 {
      max-width: 400px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 16px;
      color: #000;
    }

    p {
      font-weight: 400;
      font-size: 12px;
      color: #065ea9;
    }
  }

  &__docs {
    margin-left: auto;
    cursor: pointer;
  }

  &__links {
    cursor: pointer;
  }

  &__messages-body {
    height: calc(100% - 190px);
    position: relative;
    background: #fdfdff;
    overflow-y: auto;
  }

  &__messages-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: absolute;

    p {
      padding: 8px 12px;
      line-height: 18px;
      font-size: 12px;
      color: #065ea9;
      border-radius: 16px;
      border: 1px solid #065ea9;
      background: #ffffff;
    }
  }

  &__messages-bottom {
    position: relative;
    padding: 30px 30px 20px 30px;
  }

  &__file {
    position: absolute;
    top: 44px;
    left: 50px;
    cursor: pointer;
  }

  &__send {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 37px;
    right: 45px;
    padding-left: 3px;
    border-radius: 50%;
    background: #065ea9;
    pointer-events: none;
    opacity: 0.5;
  }

  &__send-message {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 65px 0 45px;
    font-size: 14px;
    border: 1px solid #065ea9;
    border-radius: 16px;
    background: #ffffff;
    outline: none;

    &::placeholder {
      color: #a1a1a1;
    }
  }
}
