.MuiInputBase-root {
  border-radius: 15px !important;
}

.black__overlay {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  z-index: 12;
  backdrop-filter: brightness(25%);
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.participate__modal {
  padding: 40px 55px;
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  h2 {
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    color: #065ea9;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 30px;

    input {
      width: 540px;
    }
  }
}

.form__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.upload__img {
  display: flex;
  flex-flow: wrap row;
  align-items: center;
  gap: 16px;
}
.add__img {
  width: 60px;
  height: 60px;
  background: #e3f0ff;
  border-radius: 15px;
  border: none;
}

.img__wrapper {
  position: relative;

  button {
    position: absolute;
    width: max-content;
    height: max-content;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 7px;
    display: none;
    flex-direction: row;
    gap: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2px;
    color: #bd3232;
    background: #f8fafc;
    box-shadow: 0px 4px 70px rgba(148, 163, 184, 0.4);
    border-radius: 4px;
    border: none;
  }

  &:hover button {
    display: flex;
  }
}

.uploaded__img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border: solid 6px #f0f2f9;
  border-radius: 12px;
}

.upload__empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  background: #e2f6ff;
  border: 1px dashed #9d9d9d;
  border-radius: 6px;
}

.url__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add__url {
  width: 100%;
  padding: 14px;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #eaedf6;
  border-radius: 6px;
}

.form__buttons {
  display: flex;
  gap: 15px;

  button {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    padding: 12px;
    width: 160px;
    text-align: center;
    border-radius: 16px;
  }
}

.cancel__button {
  background: #ffffff;
  border: 2px solid #f0f2f9;
  color: #065ea9;
}

.submit__button {
  background: #065ea9;
  border: 2px solid #065ea9;
  color: #ffffff;
}

.display__none {
  display: none;
  position: absolute;
}

@media (max-width: 1000px) {
  .participate__modal {
    h2 {
      text-align: center;
    }
  }

  .form__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;

    button {
      width: auto;
    }
  }
}

@media (max-width: 650px) {
  .participate__modal {
    margin: 0 10px;
    max-width: 450px;
    padding: 30px 16px;
  }

  .form__row {
    grid-template-columns: 1fr;
  }

  form {
    input {
      width: 355px;
    }
  }

  .participate__modal {
    h2 {
      text-align: start;
    }
  }
}

@media screen and (max-width: 486px) {
  .participate__modal {
    max-width: 300px;
  }
}
