.webinar {
  padding: 30px 0;
  margin-bottom: 50px;

  &-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-name {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #10131b;
    font-family: "Inter";
  }
  &-lists {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &-top {
    border: 1px solid #065ea9;
    border-radius: 16px;
    background: #065ea9;
    padding: 12px 22px;
    width: 115px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    height: 48px;
    color: #ffffff;
  }
  &-tops {
    border: 2px solid #eaedf6;
    border-radius: 16px;
    background: #ffffff;
    width: 152px;
    height: 48px;
    padding: 12px 22px;
    color: #065ea9;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
  }
  &-page {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
  }
  &-box {
    box-shadow: 0px 2px 40px rgba(69, 69, 69, 0.05);
    border-radius: 15px;
    background: #ffffff;
    border: 1px solid #eaedf6;
    width: 370px;
    height: 514px;
  }
  &-names {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2px;
    color: #065ea9;
    padding-left: 15px;
  }
  span {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #5d6b8a;
    margin: 15px;
  }
  &-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.2px;
    color: #5d6b8a;
    margin: 15px;
  }
  &-more {
    border: 1px solid #5d6b8a;
    border-radius: 16px;
    width: 162px;
    height: 48px;
    padding: 8px 47px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #5d6b8a;
    justify-content: center;
  }
  &-links {
    background: #065ea9;
    border-radius: 16px;
    padding: 8px 30px;
    width: 175px;
    height: 48px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-bottom {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 15px;
  }
}
