@import "../../assets/style/global.scss";

.newsdetail {

  &-tablet-tags {
    display: none;
    margin-bottom: 30px;
  }

  &-wrapper {
    padding: 30px 0 60px;
  }

  &-title {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;

    &-text {
      max-width: 840px;
      @include fontStyles(700, 32px, 39px, #062A49);
    }

    &-url {
      display: flex;
      align-items: center;
      gap: 5px;

      &>a {
        text-decoration: none;
        white-space: nowrap;
        word-break: keep-all;
        @include fontStyles(700, 14px, 17px, $colorGrey);
      }

      &>svg {
        width: 15px;
        height: 15px;
      }

      &>span {
        @include fontStyles(700, 14px, 17px, $colorTitle);
      }
    }
  }

  &-main {
    padding: 30px 0 60px;
    display: flex;
    gap: 30px;

    &-desc {
      width: 100%;
      max-width: 940px;

      &-img {
        margin-bottom: 30px;

        &>img {
          border-radius: 15px;
          width: 100%;
          height: 499px;
          object-fit: cover;
        }
      }

      &-texts {
        display: grid;
        gap: 20px;

        &-item {
          @include fontStyles(400, 16px, 19px, $colorGrey);
          text-align: justify;
          letter-spacing: 0.2px;
        }
      }
    }

    &-news-tags {
      min-width: 289px;
      max-width: 289px;
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }
}


@media only screen and (max-width: 768px) {
  .newsdetail {

    &-desktop-tags {
      display: none;
    }

    &-tablet-tags {
      display: block;

    }

    &-title {
      flex-direction: column-reverse;
      align-items: start;

      &-text {
        color: #161616;
      }

      &-url {
        &>a {
          font-size: 16px;
          line-height: 19px;
          color: $colorTitle;
        }

        &>span {
          font-size: 16px;
          line-height: 19px;
        }
      }
    }

    &-main {
      gap: 60px;
      flex-direction: column;

      &-desc {
        &-img {
          &>img {
            height: 408px;
          }
        }
      }

      &-news-tags {
        max-width: 100%;
      }
    }
  }
}