.expert {
  padding: 30px 0;

  .swiper {
    width: 100%;
  }

  .container {
    padding: 0;
    padding-left: 20px;
  }

  h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #10131b;
  }

  .expert-list {
    position: relative;
    margin-top: 40px;
    width: 100%;

    &-item {
      padding-bottom: 15px;
      background: #f6f7fb;
      border: 1px solid #eaedf6;
      border-radius: 10px;
      max-width: 270px;
      height: 449px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;

      & > img {
        width: 100%;
        height: 270px;
      }

      h3 {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #065ea9;
        margin: 7px 0;
        margin-left: 10px;
      }
      p {
        margin-left: 10px;
        color: #656b70;
      }
      h4 {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.2px;
        color: #656b70;
        margin: 8px 0;
        margin-left: 10px;
      }

      a {
        margin-top: auto;
      }
    }
  }

  .expert-link {
    background: #e3f0ff;
    border-radius: 16px;
    padding: 12px 22px;
    color: #065ea9;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;

    img {
      margin: 0 5px;
    }
  }
  .expert-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
}
