.navbarpage {
  // padding: 20px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #eaedf6;
    padding: 10px 0;
  }

  .navbar-list {
    display: flex;
    align-items: center;
  }
  .navbar-button {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 12px;
    padding: 8px 14px;
    border: none;
    width: 97px;
    height: 40px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    cursor: pointer;
    margin: 0 20px;
  }
  img {
    margin-right: 5px;
  }
  .navbar-link {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;

    svg {
      margin: 0 7px;
      path {
        fill: #fff;
      }
    }
  }
  .navbar-item {
    margin: 0 20px;
  }
  .navbar--name {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    width: 150px;
  }
  .navbar--subname {
    color: #065ea9;
    width: 150px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }

  .navbar--link {
    color: #5d6b8a;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    svg {
      margin: 0 7px;
      path {
        fill: #5d6b8a;
      }
    }
  }
  .navbar--button {
    background: #065ea9;
    border-radius: 5px;
    width: 113px;
    height: 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #065ea9;
    color: #ffffff;
    cursor: pointer;
    margin: 0 20px;
  }
  &_language {
    position: relative;

    &-wrapper {
      padding: 7px 8px;
      display: flex;
      align-items: center;
      gap: 6px;
      border-radius: 12px;
      // background: rgba(255, 255, 255, 0.2);
      cursor: pointer;
    }

    &-icon {
      width: 20px;
      height: 20px;
      color: #ffff;
    }

    &-iconArrow {
      width: 16px;
      height: 16px;
      color: #ffff;
    }

    & > span {
      display: flex;
      align-items: center;
    }

    &-bar {
      display: none;
      position: absolute;
      flex-direction: column;
      align-items: center;
      width: 75px;
      right: 0;
      top: 50px;
      border-radius: 12px;
      // background: rgba(255, 255, 255, 0.2);
      z-index: 10;
      color: white;
      overflow: hidden;

      & > p {
        width: 100%;
        text-align: center;
        padding: 5px;
        cursor: pointer;
      }

      & > p:hover {
        background-color: grey;
      }
    }
  }
}
