@import "src/assets/style/global";

.aboutTeachingHero {
  width: 100%;
  height: 500px;
  position: relative;
  top: -60px;
  background-repeat: no-repeat;


  .container {
    position: relative;
  }

  &_bodes {
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;

    background-image: url("../../../../../assets/images/online-teaching/About.svg");

    &_items {
      position: absolute;
      display: flex;
      justify-content: right;
      align-items: center;
      //top: 5%;

      margin-top: 5%;

      &_wait {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.2px;
        display: flex;
        align-items: center;

        &_links{
          color: white;
          margin-right: 5px;
          margin-left: 5px;

        }
      }
    }
    &_middles{
      display: flex;
      flex-direction: column;
      justify-content: left;
      margin: 50px auto;
      margin-top: 70px;
      &_titles{
        width: 35%;
        font-weight: 700;
        font-size: 34px;
        line-height: 41px;
        leading-trim: both;
        text-edge: cap;
        display: flex;
        align-items: center;
        color: white;
      }
      &_texts{
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        leading-trim: both;
        text-edge: cap;
        display: flex;
        align-items: center;
        color: white;
        margin-top: 15px;
      }
    }
  }
}